<!doctype html>
<html>
<head>
<title>Easycare water Products</title>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
	<link rel="icon" href="../assets/images/favicon.png" type="image/png">

<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Gentry Rolofson">
<meta name="copyright" content="Mcgrayel Co">
<link rel="stylesheet" type="text/css" href="../assets/css/basic.css">
<link rel="stylesheet" type="text/css" href="../assets/css/reset.css">

</head>

<body>
<div  class="bg">
</div>

<div Class="wrapper">


<div class="header">
<div class="logo"></div>
<div class="fade-container">
<div class="box fade-in one"></div>
<div class="box fade-in two"></div>
<div class="box fade-in three"></div>
<div class="box fade-in four"></div>
<div class="box fade-in five"></div>
<div class="box fade-in six"></div>
<div class="box fade-in seven"></div>
<div class="box fade-in eight"></div>
<div class="box fade-in nine"></div>
<div class="box fade-in ten"></div>
<div class="box fade-in eleven"></div>
<div class="box fade-in twelve"></div>
<div class="box fade-in thirteen"></div>
<div class="box fade-in fourteen"></div>
<div class="box fade-in fifteen"></div>
<div class="box fade-in sixteen"></div>
<div class="box fade-in seventeen"></div>
<div class="box fade-in eightteen"></div>
<div class="box fade-in nineteen"></div>
<div class="box fade-in twenty"></div>
<div class="box fade-in twentyone"></div>
<div class="box fade-in twentytwo"></div>
<div class="box fade-in twentythree"></div>
<div class="box fade-in twentyfour"></div>
</div>
<div class="wave wavefade-in"></div>
<section class="contact-top">
<p><span class="hide">  </span>  <a href="tel:5592997660" class="bold">559-299-7660</a> | <a href="mailto:#">Support</a> | <span class="lang"><select><option>Language</option><option>English</option><option>French</option><option>portuguese</option><option>Spanish</option></select></span></p>
</section>
<div class="nav">
<button material><a href="/">Home</a></button>
<button material><a href="http://mcgrayel.com/locatora_9.html">Store Locator</a></button>
<button material><a href="http://mcgrayel.com/aboutus.html">About Us</a></button>
<button material><a href="http://mcgrayel.com/files/Staff.doc">Staff</a></button>
<button material><a href="http://mcgrayel.com/contactus.html">Contact Us</a></button>

</div><!-- End Nav -->
</div><!-- End Header -->
<div class="content">
<div class="company-name-container">


</div><!-- end company name -->
<div class="flexBreak">
<div class="divider"><span></span></div><!-- Span Line Break page -->
</div>
<div class="whatsNew"> <!-- Bad Class names, I a sorry for this --> 
    <div class="col-lg-1"> <!-- Better now resuable code -->
        <div class="row-sm-4">
        <h1 class="heading-lg"> INTERNATIONAL PAGE </h1>
        <p class="heading-sm">Overviews for products provided below.</p>
        <div class="divider"><span></span></div><!-- Span Line Break page -->
        </div>
        <div class="row-sm-4">
            <div class="row-lg-2">
                <div class="col-sm-2">
                <ul>
                    <li>
                        <a href="../assets/images/French_overview.jpg" class="btn btn-default">French</a>
                    </li>
                </ul>
                </div>
                <div class="col-sm-3">
                    <h4>HEEHWREWFDSX SADASDFD ASFDSA </h4>
                    <p>Aperçu des produits présentés ci-dessous</p>
                </div>
            </div>
            <div class="divider"><span></span></div><!-- Span Line Break page -->
        </div>
        <div class="row-sm-4">
            <div class="row-lg-2">
                <div class="col-sm-2">
                    <ul>
                        <li>
                            <a href="#" class="btn btn-default">Spanish</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>Página Internacional</h4>
                    <p>Resúmenes de los productos que se proveen a continuación</p>
                </div>
            </div>
             <div class="divider"><span></span></div><!-- Span Line Break page -->
        </div>
        <div class="row-sm-4">
            <div class="row-lg-2">
                <div class="col-sm-2">
                    <ul>
                        <li>
                            <a href="#" class="btn btn-default">Italian</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>Pagina internazionale</h4>
                    <p>La descrizione generale dei prodotti è fornita qui sotto</p>
                </div>
            </div>
                 <div class="divider"><span></span></div><!-- Span Line Break page -->
        </div>
        <div class="row-sm-4">
            <div class="row-lg-2">
                <div class="col-sm-2">
                    <ul>
                        <li>
                            <a href="#" class="btn btn-default">Portuguese</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>Página internacional</h4>
                    <p>Resumos das informações dos produtos estão abaixo</p>
                </div>
            </div>
             <div class="divider"><span></span></div><!-- Span Line Break page -->
        </div>
        <div class="row-sm-4">
            <div class="row-lg-2">
                <div class="col-sm-2">
                    <ul>
                        <li>
                            <a href="#" class="btn btn-default">German</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>Internationale Seite</h4>
                    <p>Überblick über die nachstehend aufgeführten Produkte</p>
                </div>
            </div>
             <div class="divider"><span></span></div><!-- Span Line Break page -->
        </div>
        </div>
        
    </div>


</div>


<div class="social-footer">
<p>Follow us on your favorite social media sites: </p>
<div class="item1">
<img src="../assets/images/facebook.png" class="social">
</div>
<div class="item2">
<img src="../assets/images/twitter.png" class="social">
</div>
<div class="item3">
<img src="../assets/images/youtube.png" class="social">
</div>
<div class="fb-like" data-href="http://easycarewater.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>


</div><!-- end social footer -->
<div class="footer">
<p>Mcgrayel Company© 1978-2017</p><p><a href="http://easycarewater.com">http://easycarewater.com</a></p>
</div><!-- End Footer -->
</div><!-- End Wrapper -->
	<div class="menu-wrapper">
	<div class="menu-arrow">
		<img src="../assets/images/back.png" class="arrow-img">
	</div>
		<ul>
			<li class="item11"><a class="ahover" href="http://mcgrayel.com/algatec.html">Algatec<span>®</span></a></li>
			<li class="item12"><a class="bhover" href="http://mcgrayel.com/beautec.html">Beautec<span>®</span></a></li>
			<li class="item13"><a class="phover" href="http://mcgrayel.com/pooltec.html">Pooltec<span>®</span></a></li>
			<li class="item14"><a class="pwhover" href="http://mcgrayel.com/pooltec_winter.html">Pooltec Winter<span>®</a></li>
			<li class="item15"><a class="sphover" href="http://mcgrayel.com/scaletecplus.html">Scaleec Plus<span>®</span></a></li>
			<li class="item16"><a class="sthover" href="http://mcgrayel.com/startuptec.html">Startup-Tec<span>®</span></a></li>
			<li class="item17"><a class="fhover" href="http://mcgrayel.com/fountec.html">Fountec<span>®</span></a></li>
			<li class="item18"><a class="prhover" href="http://mcgrayel.com/protec.html">Protec<span>®</span></a></li>
		</ul>
	</div>

<div class="top-menu">
		<ul>
			<li class="item11"><a class="ahover" href="http://mcgrayel.com/algatec.html">Algatec<span>®</span></a></li>
                        <li class="item12"><a class="bhover" href="http://mcgrayel.com/beautec.html">Beautec<span>®</span></a></li>
                        <li class="item13"><a class="phover" href="http://mcgrayel.com/pooltec.html">Pooltec<span>®</span></a></li>
                        <li class="item14"><a class="pwhover" href="http://mcgrayel.com/pooltec_winter.html">Pooltec Winter<span>®</a></li>
                        <li class="item15"><a class="sphover" href="http://mcgrayel.com/scaletecplus.html">Scaleec Plus<span>®</span></a></li>
                        <li class="item16"><a class="sthover" href="http://mcgrayel.com/startuptec.html">Startup-Tec<span>®</span></a></li>
                        <li class="item17"><a class="fhover" href="http://mcgrayel.com/fountec.html">Fountec<span>®</span></a></li>
                        <li class="item18"><a class="prhover" href="http://mcgrayel.com/protec.html">Protec<span>®</span></a></li>
		</ul>
	</div>

<script src="../assets/js/animate.js"></script>

</body>
</html>