<!doctype html>
<html>
<head>
  <title>ECP | {{.name}}</title>
  {{template "head"}}
</head>
<body>
<div class="bg"></div>
<div Class="wrapper">
	<div class="header">
	{{template "fadein"}}
<section class="contact-top">
<p><span class="hide">  </span>  <a href="tel:5592997660" class="bold">559-299-7660</a> | <a href="mailto:#">Support</a> | <span class="lang"><select><option>Language</option><option>English</option><option>French</option><option>portuguese</option><option>Spanish</option></select></span></p>
</section>
{{template "nav"}}
</div><!-- End Header -->
<div class="content">
<div class="company-name-container"></div><!-- end company name -->
	<div class="flexBreak">
		<div class="divider"><span></span></div><!-- Span Line Break page -->
	</div>
	<div class="col-lg">
		<div clas="main-image">
			<div class="image"><img src="../static/assets/images/{{.img}}.png"></div>
		</div><!-- End Main Image Box -->
		<div class="product-bullets">
			{{if .name}}
			<div class="title"><h1>{{.name}}® Features</h1></div>
			{{end}}
			{{if .tag}}
				<p>{{.tag}}</p>
			{{end}}
			<div class="divider"><span></span></div>
			{{if .points}}
				<ul>
					{{ range $key, $value := .points }}
					<li>{{ $value }}</li>
				{{ end }}
					<li><a style="text-transform: capitalize;" href="../static/assets/files/sds-{{.sds}}.pdf">{{.sds}} safety data sheet</a></li>
				</ul>
			{{end}}
		</div>
	</div>
</div><!-- End top content -->

<!-- End Product Bullet points -->
<div class="bottom-content">
<div class="title"><h1>{{.name}}®</h1></div><!-- Product Title -->
<div class="divider"><span></span></div><!-- Divider -->
<div class="overview">
<div class="article">
<h2>Product Summary</h2>
<p class="lead">{{.summary}}</p>
</div><!-- End Article -->
</div><!-- End Overview -->

{{if .howItWorks}}
<div class="title"><h1>How It Works</h1></div><!-- Product Title -->

<div class="overview">
<div class="article">
<p class="lead">{{.howItWorks}}</p>
	</div><!-- End Article -->
</div><!-- End Overview -->
{{end}}
{{if .features}}
	<div class="overview">
		<div class="article">
			<h2>Features</h2>
			<ol>
				{{ range $key, $value := .features }}
				<li><p class="lead">{{ $value }}</P></li>
			{{ end }}
			</ol>
		</div><!-- End Article -->
	</div><!-- End Overview -->
	{{end}}
	{{if .selling}}
		<div class="overview">
		<div class="article">
			<h2>Selling Points</h2>
			<ol>
				{{ range $key, $value := .selling }}
				<li><p class="lead">{{ $value }}</P></li>
			{{ end }}
			</ol>
		</div><!-- End Article -->
	</div><!-- End Overview -->
	{{end}}
	{{if .benefits}}
	<div class="overview">
		<div class="article">
			<h2>Customer Benefits</h2>
			<ol>
				{{ range $key, $value := .benefits }}
				<li><p class="lead">{{ $value }}</P></li>
			{{ end }}
			</ol>
		</div><!-- End Article -->
	</div><!-- End Overview -->
	{{end}}
	{{ if .notice }}
	<div class="overview">
		<div class="article">
			<h2>Special Instructions</h2>
				<p class="lead">{{ .notice }}</P>
		</div><!-- End Article -->
	</div><!-- End Overview -->
	{{ end }}
</div><!-- End bottom content -->
{{template "footer"}}
</div><!-- End Wrapper-->

	<div class="slide-handler"></div>
	<div class="menu-wrapper">
	<div class="menu-arrow">
		<img src="../static/assets/images/back.png" class="arrow-img">
	</div>
		{{template "menu"}}
	</div>

<div class="top-menu">
{{template "menu"}}
	</div>



<div class="hide">Icons made by <a href="http://www.flaticon.com/authors/rami-mcmin" title="Rami McMin">Rami McMin</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
<script src="../static/assets/js/ripple.js" async></script>
<script src="../static/assets/js/toggle.js" async></script>
<script src="../static/assets/js/animate.js"></script>
<script src="../static/assets/js/application.js"></script>
<script type="text/javascript">
var today = new Date();
console.log("Todays Date: ",today)



</script>
</body>
</html>
