<!-- HTML Template for Water Treatment -->
<div style="padding: 0; position: relative; top: 0;">
  
    <img src="https://i.imgur.com/Tr4N2xq.png" style="width: 80vw; position: absolute; top: 0; z-index: 1;">
  <!-- <ul style="align-items: center; list-style-type: none; display: flex; padding: 10px; margin-top: -4px; max-width:1132px; background: linear-gradient(to bottom, rgba(120, 188, 228, 1), rgba(63, 112, 177, 1) 90%);">
    <li style="margin-right:25px; color: white; font-family: sans-serif;"><a href="tel:5592997660" style="display: block; color: white; text-align: center; text-decoration: none;">Phone Number: 559-299-7660</a></li>
  </ul> -->
  
</div>
<div style="padding-top: 25px;">
  <h1>Contact Request from: {{.Name}}</h1>
  <span>Phone Number: {{.Phone}}</span>
  <span>Email: {{.Email}}</span>
  <hr>
  <span>Message Body:</span>
  <p>{{.Body}}</p>
  <p>Reply to {{.Name}} at {{.Email}}</p>
  <hr>
  <div style="padding: 20px;">
    *message provided by easycare products contact page this email is automated,
    please do not reply directly to this email.
  </div>
</div>