<!doctype html>
<html>
<head>
  <title>ECP | About US</title>
  {{template "head"}}
</head>
<body>
<div class="bg"></div>
<div Class="wrapper">
	<div class="header">
	{{template "fadein"}}
<section class="contact-top">
<p><span class="hide">  </span>  <a href="tel:5592997660" class="bold">559-299-7660</a> | <a href="mailto:#">Support</a> | <span class="lang"><select><option>Language</option><option>English</option><option>French</option><option>portuguese</option><option>Spanish</option></select></span></p>
</section>
{{template "nav"}}
</div><!-- End Header -->

<div class="content">

  <div class="company-name-container"></div><!-- end company name -->
    <div class="flexBreak">
      <div class="divider"><span></span>
      </div><!-- Span Line Break page -->
    </div>
  </div>
<div style="min-height:100vh;"><!-- Body -->
  <section style="margin:0 auto; width: 75%; padding: 10px; line-height: 1.5em; font-size: 1.3em;">
    <h2 style="padding-top: 15px;">About the Mcgrayel Company</h2>
    <p>McGrayel Company began operations on January 2, 1978 at our original location at 3386 S. Maple Ave. 
 In Fresno. The company operated from this modest facility for nearly 23 years. In December 2000, we relocated to our new property at 5361 S. Villa Ave. in the Three Crowns Industrial Park in South Fresno. 
 This larger 10,000 square foot facility allowed production for both plant and office operations in one location. 
 This property acreage also provides for significant expansion capabilities for the future. 
 This initial small scale operation began in 1978 to serve customers in the industrial water treatment industry such as food processing facilities, cold storage operations,
 canneries, and HVAC cooling and heating industry. By 1980, several part-time employees joined the company to help with office,
 technical services, and production operations. Our products were eventually transformed from very simple phosphate based scale and corrosion inhibitor products to more sophisticated products utilizing chemical technologies from some of the largest manufacturers of specialty chemicals. In the early 1980s, the company diversified into the swimming pool and spa industry with the introduction of our first products: Algatec and Scaletec. For the next several years, these products were marketed directly to independent
 retail and service trade businesses throughout the West Coast. In the early 1990s, several new products were developed to enhance our product line. Among them included Pooltec,
 Scaletec Plus, Fountec, and Protect brands. During the mid-1990's, the company test marketed products to the mass retail market with modest success. However, the decision was later
 made to re-focus our marketing efforts and concentrate on the independent retail sector. With this new effort, the product line became officially known as EasyCare Products. 
 In the early 2000s, to expand EasyCare Products nationally, we began selling our brands through distribution companies and hired manufacturer rep agencies to support the EasyCare line.
 As a result of this decision, product sales increased significantly. To accommodate increased sales, several automated packaging lines were installed to meet growth demands. The Company
 continues to research new technologies for both the industrial and swimming pool industries. Our corporate goal is to utilize the latest developments and improve existing products as well as introduce new products that are easier, safer, and more effective. Our motto has always been that great water treatment products simplify and provide outstanding results without confusion. 
 In 2008, we introduced Startup-Tec New Pool start up Treatment to modernize the start up methods in the pool building and plaster industry. To support the efficacy of this product, EasyCare Products is currently sponsoring research being conducted at the National Plaster Council test facility at Cal Poly, in San Luis Obis, California. Thus, we became the first chemical manufacturer in the pool industry to sponsor such tests. In the near future, the company plans to export our brands into the global market in partnership with other distribution companies.</p>
  </section>
</div><!-- End Body -->
{{template "footer"}}
</div><!-- End Wrapper-->

	<div class="slide-handler"></div>
	<div class="menu-wrapper">
	<div class="menu-arrow">
		<img src="../static/assets/images/back.png" class="arrow-img">
	</div>
		{{template "menu"}}
	</div>

<div class="top-menu">
  {{template "menu"}}
</div>



<div class="hide">Icons made by <a href="http://www.flaticon.com/authors/rami-mcmin" title="Rami McMin">Rami McMin</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
<script src="../static/assets/js/application.js"></script>
<script src="../static/assets/js/ripple.js" async></script>
<script src="../static/assets/js/toggle.js" async></script>
<script src="../static/assets/js/animate.js"></script>
<script type="text/javascript">
var today = new Date();
console.log("Todays Date: ",today)



</script>
</body>
</html>
