<!doctype html>
<html>
<head>
  <title>ECP | Orders</title>
  {{template "head"}}
</head>
<body>
<div class="bg"></div>
<div Class="wrapper">
	<div class="header">
	{{template "fadein"}}
<section class="contact-top">
<p><span class="hide">  </span>  <a href="tel:5592997660" class="bold">559-299-7660</a> | <a href="mailto:#">Support</a> | <span class="lang"><select><option>Language</option><option>English</option><option>French</option><option>portuguese</option><option>Spanish</option></select></span></p>
</section>
{{template "nav"}}
</div><!-- End Header -->
<div class="content">
<div class="company-name-container"></div><!-- end company name -->
	<div class="flexBreak">
		<div class="divider"><span></span></div><!-- Span Line Break page -->
	</div>
  <div class="container" style="min-height: 100vh;">
    <h3 style="text-align: center; color: black; padding-top: 1.3em; font-size: 1.6em;">Order Placement Restricted to Distributor & Wholesale Accounts Only</h3>
    <div style="display:flex;">
      <div style="color:black; margin: 1.3em;">
        <h4>Placing Orders</h4>
          <p>To Place an Order contact our Order Processing Department, during business hours.</p>
          <p>Monday-Friday:8:30AM-5:00PM Pacific Time.</p>
          <p>Thank you For your continued business.</p>
          <p>Call:<a href="tel:+1-559-299-7660">(559)299-7660</a></p>
          <p>Fax:<a href="tel:+1-800-440-7660">(800)440-7660</a></p>
          <p>Email:<a href="mailto:orderprocessing@easycarewater.com">Order Procesing</a></p>
      </div>
      <div style="color:black; margin: 1.3em; width:50%;">
        <h4>McGrayel Water Technologies and EasyCare Products</h4>
        <p>5361 S. Villa Ave.&nbsp;Fresno, California, 93725 U.S.A.</p>
        <p>P.O. Box 12362 Fresno California 93725 U.S.A.</p>
        <p>Tel. Direct: <a href="tel:+1-559-299-7660">(559)299-7660</a></p>
        <p>Toll-Free Tel: <a href="tel:+1-800-289-7660">1(800)289-7660</a></p>
        <p>Fax: <a href="tel:+1-800-440-7660">(800)440-7660</a></p>
      </div>

    </div>
  
  </div><!-- END CONTAINER -->
{{template "footer"}}
</div><!-- End Wrapper-->

	<div class="slide-handler"></div>
	<div class="menu-wrapper">
	<div class="menu-arrow">
		<img src="../static/assets/images/back.png" class="arrow-img">
	</div>
		{{template "menu"}}
	</div>

  <div class="top-menu">
    {{template "menu"}}
  </div>

  <div class="hide">Icons made by <a href="http://www.flaticon.com/authors/rami-mcmin" title="Rami McMin">Rami McMin</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
    <script src="../static/assets/js/ripple.js" async></script>
    <script src="../static/assets/js/toggle.js" async></script>
    <script src="../static/assets/js/animate.js"></script>
    <script src="../static/assets/js/application.js"></script>
    <script type="text/javascript">
      var today = new Date();
      console.log("Todays Date: ",today)
    </script>
  </body>
</html>
