<!doctype html>
<html>
{{template "head"}}
<body>
<div class="bg"></div>
<div Class="wrapper">
	<div class="header">
	{{template "fadein"}}
<section class="contact-top">
<p><span class="hide">  </span>  <a href="tel:5592997660" class="bold">559-299-7660</a> | <a href="mailto:#">Support</a> | <span class="lang"><select><option>Language</option><option>English</option><option>French</option><option>portuguese</option><option>Spanish</option></select></span></p>
</section>
{{template "nav"}}
</div><!-- End Header -->
<div class="content">
<div class="company-name-container"></div><!-- end company name -->
	<div class="flexBreak">
	  <div class="divider"><span></span></div><!-- Span Line Break page -->
	</div>
</div>
<div class="body">
    <div class="row-lg-12">
      <div class="col">
        <h1>Add New Product to EasyCareWater.com</h1>
        <div class="divider"><span></span></div><!-- Span Line Break page -->
        <form method="post" action="../product/new">
          <fieldset>
            <label>
              Image
             <input type="file" name="image" accept="image/*">
            </label>
            <label>
              Product Name
              <input type="text" name="name">
            </label>
            <label>
              Product Tag line
              <input type="text" name="tag">
            </label>

            <div class="keyPoints">
              <label>
                <p>
                  <button class="addPoint">Add Key Point</button>
                  <button class="removePoint"><i class="fa fa-close"></i></button>
                </p>
                <input type="text" name="points">
              </label>
            </div>
            <label>
              Product Summary
              <textarea type="text" name="summary" rows="4" cols="50"></textarea>
            </label>
            <label>
              How it works
              <textarea type="text" name="howItWorks" rows="4" cols="50"></textarea>
            </label>
            <div class="features">
              <label>
                <p>
                  <button class="addFeature">Add Feature</button>
                  <button class="removeFeature"><i class="fa fa-close"></i></button>
                </p> 
                <input type="text" name="features">
              </label>
            </div>
            <div class="sellingPoints">
              <label>
                <p>
                  <button class="addSellingPoint">Add Selling Point</button>
                  <button class="removeSellingPoint"><i class="fa fa-close"></i></button>
                </p>
                <input type="text" name="sellingPoints">
              </label>
            </div>
            <div class="benefits">
              <label>
                <p>
                  <button class="addBenefit">Add Selling Point</button>
                  <button class="removeBenefit"><i class="fa fa-close"></i></button>
                </p>
                <input type="text" name="benefits">
              </label>
            </div>
            <label>
              <input type="text" name="notice">
          </label>
                    <button>Create</button>
          </fieldset>
        </form>
        <br>
      </div>
    </div>
</div>
<div class="footer">
<p>Mcgrayel Company© 1978-2017</p><p><a href="http://easycarewater.com">http://easycarewater.com</a></p>
</div><!-- End Footer -->

</div><!-- End Wrapper-->

	<div class="slide-handler"></div>
	<div class="menu-wrapper">
	<div class="menu-arrow">
		<img src="../static/assets/images/back.png" class="arrow-img">
	</div>
		{{template "menu"}}
	</div>

<div class="top-menu">
{{template "menu"}}
</div>



<div class="hide">Icons made by <a href="http://www.flaticon.com/authors/rami-mcmin" title="Rami McMin">Rami McMin</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

<script src="../static/assets/js/ripple.js" async></script>
<script src="../static/assets/js/toggle.js" async></script>
<script src="../static/assets/js/animate.js"></script>
<script src="../static/assets/js/ajaxForm.js"></script>
<script type="text/javascript">
var today = new Date();
console.log("Todays Date: ",today)



</script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>